{{> ../header }}

  <a href="/posts/new">Create new post</a>

  <p>Found {{post_count}} posts.</p>

  {{#posts}}
    <ul id="posts">
      {{#post}}
        <li>{{> templates/posts/post}}</li>
      {{/post}}
    </ul>
  {{/posts}}

{{> ../footer }}
