<a href="{{url}}">
{{#untitled}}
untitled
{{/untitled}}
{{title}}
by
{{#anonymous}}
anonymous
{{/anonymous}}
{{author}}
</a>
&bull;
<a href="{{url}}" id="post-{{_id}}" class="delete">[Delete]</a>
<a href="{{url}}/edit">[Edit]</a>
