<a href="/posts/{{_id}}">
{{#untitled}}
untitled
{{/untitled}}
{{title}}
by
{{#anonymous}}
anonymous
{{/anonymous}}
{{author}}
</a>
&bull;
<a href="/posts/{{_id}}" id="post-{{_id}}" class="delete">[Delete]</a>
