{{> ../header}}

  <h1>
  {{#untitled}}
  untitled
  {{/untitled}}
  {{title}}
  </h1>

  <p><em>by 
  {{#anonymous}}
  anonymous
  {{/anonymous}}
  {{author}}
  </em</p>

  {{body}}

{{> ../footer}}
