body {
  font-family: sans-serif;
  font-size: larger;
  text-align: center;
}

label, input {
  display: block;
  margin: .5em 0;
  font-size: larger;
}
input[type=submit] {
  display: inline;
}
textarea {
  width: 100%;
  height: 300px;
}

div#page {
  width: 500px;
  margin: 0 auto;
  text-align: left;
  border: 1px solid black;
}

div#inner {
  padding: 1em;
}

#new-post {
  /*display: none;*/
}
#create-new-post, #cancel-new-post {
  cursor: pointer;
  color: blue;
}
