body {
  font-family: Georgia, serif;
  font-size: larger;
  text-align: center;
  margin: 0;
  padding: 0;
}
a {
  color: blue;
}
a:visited {
  color:blue;
}
label, input {
  display: block;
  margin: .5em 0;
  font-size: larger;
}
input[type=submit] {
  display: inline;
}
textarea {
  width: 100%;
  height: 300px;
}
table {
  width: 100%;
}

div#page {
  text-align: left;
}

div#inner {
  margin: 0 1em;
  background: #fff;
}

#new-post {
  /*display: none;*/
}
#create-new-post, #cancel-new-post {
  cursor: pointer;
  color: blue;
}
